body{
    background: #000;
    color: #fff;
}
input[type="text"]{
    background: #1a191a;
    border:solid 1px #23449f;
}
#newTeam{
    float: none !important;
    margin: 20px auto 50px;
}
.equipo{
    display: block;
    overflow: hidden;
}
.equipo h4{
    color: #b7c0be
}
.equipo h5{
    color: #5769c0
}
.equipo .col-sm-3{
    border:solid 1px #444;
    padding: 5px
}
.ident{
    background: #0e52b2;
    display: block;
    margin: 10px 0px;
    overflow: hidden;
}
